/*Dashbord Styling*/
.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 25px;
  background-color: #9f73ab;
}

.nav button {
  background-color: #9f73ab;
  border: none;
  color: white;
  font-size: medium;
}

.nav > div {
  display: flex;
  gap: 50px;
}

.meetups_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  align-items: center;
}

.meetups_wrapper img {
  width: 20vw;
}
